@import "reset.css";

body{
    text-decoration: none;
    width:1920px;
    height: 1012px;
    display:block;
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
     cursor: crosshair; 
   cursor: help;
  }
  
.sections{
    background-image: url(../img/section.jpg); 
    width:1920px;
    height: 1012px;
  
}
  
.headers {
    background-color:rgba(94, 93, 88, 0.6);
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    text-decoration: none;
    width:1920px;
    height:120px;
}
  
.main-menus {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
  
.logoss {
    display: flex;
    align-items: center;
    text-decoration: none; 
    padding-top:50px;
}
  
.logo-links {
    display: flex;
    height: 68px;
    text-decoration: none; 
    padding-left:380px;
}
  
.menu-links {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-size: 16px;
    flex-wrap: nowrap;
    width: 100%;
    list-style-type: none;
    padding-top:49px;
}
  
.main-links {
    color: white;
    padding:21.09px;
    text-decoration: none;
    list-style-type: none;
    padding-top:48px;
}
  
.main-links:hover {
    color:#18CFAB;
    text-decoration: none;
    border-bottom:4px solid #18CFAB ;
    padding-bottom:50px;
}
  
.lupas {
    display: flex;
    width:68px;
    justify-content: center;
    align-items: center;
    padding-top:49px;
}
  
.hs{
    margin-left:-43px;
    margin-right:16px;
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 40px;
}
  
.hams{
    text-decoration: none;
    color: #18CFAB;
    font-weight: bold;
    font-size: 40px;
}
  
.thes{
    text-decoration: none;  
    color:#FFFFFF;   
    font-size: 35px;
}
  
.first_lines{
    padding-top:379px;
    font-size: 30px;
    color:white;
    text-align: center;
}
  
.second_lines{
    padding-top:22px;
    text-align: center;
    color:#FFFFFF;
    font-size: 85px;
    font-weight: bold;
}
  
.third_lines{
    padding-top:22px;
    text-align: center;
    color:#FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 29px;
    margin-bottom:134px;
}
  
.second_colors{
    padding-top:379px;
    font-size: 30px;
    color:#18CFAB;
    text-align: center;
}
  
a.button1 {
    color: white;
    text-decoration: none;
    padding: 30px 30px;
    border-radius: 3px;
    background: #18CFAB;
    transition: 0.2s;
    border-top:5px solid white;
    text-align: center;
} 
  
a.button1:hover { 
    background: #00CBF6;;
}
  
a.button1:active {
    background:#00CBF6;;
}
a.button2 {
    color: white;
    text-decoration: none;
    padding: 30px 30px;
    border-radius: 3px;
    background: #00CBF6;;
    transition: 0.2s;
    border-top:5px solid white;
    text-align: center
} 
a.button2:hover { 
    background: #18CFAB;
}
a.button2:active {
    background: #18CFAB;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);}
.block-black {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 110px;
    background-color: #1C2A33;
    color:#18CFAB;
    width:480px;}
.block-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 110px;
    background-color:#18CFAB;
    color:white;
    width:481px;
}
.logos{
    justify-content: center;
    text-align: center; 
    margin-top:183px;
    font-size: 36px;
    line-height: 40px;
    padding-top:120px;}
.logos-news{
    justify-content: center;
    text-align: center; 
    margin-top:183px;
    font-size: 36px;
    line-height: 40px;
    padding-top:120px;
}
  .line{
    padding-top:24px;
    margin-left:915px ;
    width:79px;
    padding-bottom: 69px;
}
  
.text-1 {
    background-image: url(../img/hand.png);
    width: 61px;
    height: 100px;
    margin-top: 95px;
    margin-bottom: 47px;
}
.text-2 {
    background-image: url(../img/dimond.png);
    width: 93px;
    height: 75px;
    margin-top: 108px;
    margin-bottom: 59px;
}
.text-3 {
    background-image: url(../img/light.png);
    width: 62px;
    height: 99px;
    margin-top: 93px;
    margin-bottom: 48px;
}
.text-4 {
    background-image: url(../img/gadjets.png);
    width: 102px;
    height: 79px;
    margin-top: 105px;
    margin-bottom: 58px;
}
.section__header {
    font-size: 36px;
    padding: 83px 0 100px 0;
    color: #4e4e4e;
    text-align: center;
    position: relative;
}
.section__header:before {
    position: absolute;
    left: 50%;
    transform: translateX(-58%);
    top: 143px;
    content: "";
    width: 78px;
    height: 1px;
    background-color: #18cfab;
}
.section__header:after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-42%);
    top: 146px;
    width: 78px;
    height: 1px;
    background-color: #18cfab;
}
  .blocks-2 {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 0;
}
.block-buttoms {
    display: grid;
    background-color: #f8fcfe;
    border: 1px solid #edefef;
    font-size: 16px;
    color: #717171;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    justify-content: center;
}
.block-buttoms.buttoms {
    position: relative;
    background: #18cfab;
    color: white;
}
.block-buttoms.active::after {
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -20px;
}
.block-buttoms:hover {
    border:1px solid  #18cfab;
    color: #18cfab;
}
.block-text {
    padding-bottom: 91px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 23px;
}
.setting {
    display: none;
    font-weight: 300;
    font-size: 14px;
    padding-top: 7px;
    color: #777777;
}
.setting.active {
    display: flex;
}
.img {
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}
.everything{
    background-image: url(../img/midle-section.png); 
    width:1920px;
    height:476px;  
    margin-top:91px; 
}
a.button3 {
    color: white;
    text-decoration: none;
    padding: 16px 11.59px;
    border-radius: 3px;
    background: #18CFAB;
    transition: 0.2s;
    border-top:5px solid white;
    margin-left:875px;
    margin-bottom:1200px;
} 
a.button3:hover {   background: #00CBF6;
}
a.button3:active {
    background:#00CBF6;
}
.everything_first_line{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px; 
    color: #18CFAB;
    margin-left:388px;
    padding-top:126px;
}
.everything_second_line{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #D8D8D8;
    padding-top:12.22px;
    padding-bottom:83px;
}
.service-section {
    background: #e9edef;}
.service-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-block {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 75%;
    padding-left: 0;
    margin: 0;
}
.service {
    display: grid;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #dadada;
    text-decoration: none;
    font-size: 14px;
    color: #717171;
    justify-content: center;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}
.service.active {
    border: 2px solid #18cfab;
    color: #18cfab;
}
.service:hover {
    border: 2px solid #18cfab;
    color: #18cfab;
}
.service-block-main {
    padding: 0;
    margin: 0;
}
.service-photo-stack {
    display: none;
    flex-wrap: wrap;
    padding-top: 71px;
    padding-bottom: 70px;
    list-style-type: none;
}
.service-photo-stack.active {
    display: flex; 
}
.service-photo:hover {
    opacity: 0;
}
.service-butoms {
    background-color: #18cfab;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    color: #ffffff;
    padding: 5px 15px 5px 40px;
    padding-right: 40px;
    border-radius: 5px;
    position: relative;
    border-width: 0px;
}
.service-butoms:after {
    position: absolute;
    content: "";
    width: 16px;
    height: 17px;
    background-image: url("../img/plus.png");
    left: 16px;
    top: 16px;
}
.work-settings {
    list-style-type: none;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 44px;
    padding-left: 0;
}
.work-position {
    position: relative; 
}
.link {
    text-decoration: none;
}
.first-line {
    position: absolute;
    top: 0;
    right: 1px;
    background: #203e38;
    font-size: 16px;
    line-height: 15px;
    color: #ffffff;
    width: 48px;
    text-align: center;
    padding: 16px 6px 15px 6px;
    padding-top:16px;
    padding-left:6px;
    padding-right:4px;
    padding-bottom: 15px;
}
.work-position:hover .first-line {
    background: #18cfab;
    color: #ffffff;
}
.second-line {
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    padding-left: 10px;
}
.work-position:hover .second-line {
    color: #18cfab;
}
.third-line {
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    margin: 0;
    padding-left: 10px;
}
.section-width {
    background: url(../img/mountains.png) center/cover no-repeat;
    background-attachment: fixed;
}
.section-width .section__header {
    color: white;
}
.block {
    padding-top:0px;
    padding-bottom:60px ;  
    padding-left:0px;
    padding-right: 0px;
}
.block-section {
    list-style-type: none;
    display: none;
    justify-items: center;
    position: relative;
}
.block-section.active {
    display: grid;
}
.animation {
    display: none;
}
@keyframes about-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.animation.active {
    animation: about-animation;
    animation-duration: 2s;
}
.first-line-block {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
    text-align: center;
    padding-top: 88px;
}
.first-line-block::after {
    content: "";
    position: absolute;
    background-image: url("../img/about-text.png");
    width: 44px;
    height: 31px;
    left: 48%;
    top: 0px;
}
.second-line-block {
    line-height: 27px;
    color: #18cfab; 
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding-top: 37px;
}
.third-line-block {
    font-weight: 300;
    font-size: 12px;
    color: #bbbbbb;
    margin: 0;
    padding: 5px 0 38px 0;
}
.list-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 100px 0;
    position: relative;
}
.slider-line {
    list-style-type: none;
    padding: 0 30px 0 30px;
}
.slider-line:hover,.slider-line.active {
    transform: translateY(-10px);
    transition: 0.5s;
}
#go-back,#go-next {
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #bbbbbb;
}
#go-back:hover,
#go-next:hover {
    background-color: #18cfab;
}
.footer {
    background-color: #22353f;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #aeaeae;
    padding-left:798px;
    padding-right:798px;
    padding-top:48px;
    padding-bottom:47px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
  